<div class="menuContainer">
  <ul>
    <li>
       <h1 class="menu">
          Home
        </h1>
    </li>
    <li>
      <h1 class="menu">
        <%= link_to 'About',about_path %>
      </h1>
    </li>
  </ul>
</div>


<svg id="line" height="10" width="100vw">
  <line x1="200" y1="0" x2="1000" y2="0" style="stroke:rgb(105,105,105);stroke-width:2" />
  Sorry, your browser does not support inline SVG.
</svg>
<div class="image">
  <%= image_tag("guruTravel.jpg")%>
</div>

